.logo-text {
  color: white;
}
.pol {
  background-color: white;
}
.notebook {
  width: 300px;
  height: 185px;
  margin: 50px 0 40px 0;
}

.phone {
  position: relative;
  margin-top: 40px;
}

.phone-screen {
  position: absolute;
  left: 59px;
  top: 22px;
}

.thanks {
  width: 100vh;
  background: linear-gradient(0deg, rgba(254, 138, 128, 0.9), rgba(254, 138, 128, 0.9)),
  linear-gradient(270deg, #FF22E9 0%, #FF3898 23.96%, #FE8A80 100%);
}

@media (min-width: 768px) {
  .elipse {
    background: linear-gradient(0deg, rgba(254, 138, 128, 0.9), rgba(254, 138, 128, 0.9)),
    linear-gradient(270deg, #FF22E9 0%, #FF3898 23.96%, #FE8A80 100%);
  }
  .nav-link {
    color: white !important;
  }
  .login-ellipse {
    background-color: #fff;
  }
  .notebook {
    width: 880px;
    height: 488px;
  }
}

@media (max-width: 768px) {
  .phone-body {
    width: 240px;
  }

  .phone-screen {
    width: 174px;
    left: 42px;
    top: 13px;
  }
}