.content {
  margin-bottom: 45px;
}
.cont_title {
  display: flex;
  margin-bottom: 30px;
}
.shop_img img{
  width: 90px;
  height: 90px;
  border-radius: 45px;
  margin-right: 19px;
}
.shop_name {
  margin-top: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #454545;
}
.shop_address {
  margin-bottom: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #606060;

}
.big_carousel {
  display: flex;
  flex-wrap: wrap;
}
.event_card {
  margin-right: 30px;
  width: 360px;
  border-radius: 22px;
}
.event_card:last-child {
  margin-right: 0px;
}
.card_top {
  display: block;
}
.card_top img{
  height: 247px;
  border-radius: 22px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 50%), url(IMG_8329-e1539241438624-543x390.jpg);
}
.carousel-caption {
  bottom: -10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}
.carousel-indicators {
  bottom: -35px;
}
.carousel-indicators .active{
  background: #FE8A80;
}
.carousel-indicators li {
  width: 8px;
  height: 8px;
  background: #B0B0B0;
}
.card_bot {
  padding: 36px 27px 18px 19px;
}
.card_short_desc {
  max-height: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #767676;
}
.like_data {
  display: flex;
}
.like {
  margin-top: 35px;
  margin-right: 90px;
}
.like_data span {
  margin-top: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #747474;
}
.pagination {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.pagination > .active > a {
  background-color: inherit;
  color: #FE8A80;
  border-color: inherit;
}
.pagination > li > a,
.pagination > li > span {
  color: #606060;
  border: 0px solid #ddd;
}