.shop-window-container {
    /*width: 1440px;*/
}

.shop-window-container h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #454545;
}

.shop-type {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #454545;
}

.shop-cost {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #454545;
    margin-left: 20px;
}

.shop-contacts {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.shop-location {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #454545;
    margin-right: 30px;
}

.shop-location-work-time {
    position: relative;
}

.shop-location-work-time:hover {
    cursor: pointer;
}

.shop-location-work-time:hover span {
    color: #FE8A80;
}

.shop-location-work-time-hidden {
    display: none;
}

.shop-location-work-time:hover .shop-location-work-time-hidden{
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.shop-location img {
    margin-right: 8px;
}

.shop-window-gallery {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}

.carousel {
    width: 757px;
    height: 567px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner .item {
    height: 100%;
}

.carousel-inner .item img {
    min-width: 100% !important;
    min-height: 100% !important;
    max-width: none !important;
}

.shop-window-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
}

.shop-window-photo {
    width: 360px;
    height: 270px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.shop-window-photo img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.shop-window-container h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #454545;
}

.text-rating {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.text-rating p {
    display: block;
    width: 718px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    color: #474747;
}

.rating {
    display: block;
    width: 270px;
    margin-right: 37px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #747474;
}

.rating span {
    font-weight: bold;
}

.rating > * {
    margin-top: 15px;
}


/*--------------*/


.business-header {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #454545;
    margin-bottom: 40px;
}

.flex-wrap {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.flex-wrap:nth-child(n3) {
    margin-right: unset;
}

.main-block-wrap {
    position: relative;
    width: 360px;
    height: 390px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    margin: 0 30px 30px 0;
}

.main-block-wrap:nth-child(3n) {
    margin-right: unset;
}

.photo {
    width: 360px;
    height: 268px;
    border-radius: 22px 22px 0 0;
}

.photo-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 268px;
    border-radius: 22px 22px 0 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 50%);
}

.info-block-wrap {
    display: flex;
    margin-top: 18px;
    padding: 0 20px;
}

.info-block-wrap p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #747474;
}

.info-block-wrap p a {
    font-style: italic;
    font-size: 16px;
    line-height: 21px;
    color: #9b9b9b;
}


.title {
    position: absolute;
    bottom: 13px;
    left: 19px;
    flex-grow: 1;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    transition: color 0.3s;
}

.title:hover {
    text-decoration: none;
    color: #FE8A80;
}

a.disabled {
    pointer-events: none;
!important;
    cursor: default;
    color: #888;
}

.favorite {
    position: absolute;
    left: 19px;
    bottom: 9px;
}

.favorite-shop-type {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #747474;
}

.favorite-shop-type a, .favorite-shop-type a:active {
    text-decoration: none;
    color: #747474 !important;
}

.icon-ellipse {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 85px;
    right: 122px;
}

.business-line {
    border: 1px solid rgba(183, 183, 183, 0.6);
    margin: 41px 0 14px 0;
}

#link-map {
    color: inherit;
}
.modal-size {
    width: 85vh;
}
#show-map {
    width: 85vh;
    height: 80vh;
}