.business-header {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #454545;
    margin-bottom: 40px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-wrap:nth-child(n3) {
    margin-right: unset;
}

.main-block-wrap {
    position: relative;
    width: 359px;
    height: 338px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    margin: 0 30px 30px 0;
}

.main-block-wrap:nth-child(3n) {
    margin-right: unset;
}

.photo {
    width: 100%;
    /*height: 100%;*/
    border-radius: 5px 5px 0 0;
}

.info-block-wrap {
    padding: 0 20px;
}

.title {
    font-size: 16px;
    line-height: 19px;
    color: #454545;
    transition: color 0.3s;
}

.title:hover {
    text-decoration: none;
    color: #FE8A80;
}

a.disabled {
    pointer-events: none; !important;
    cursor: default;
    color: #888;
}


.update {
    margin-right: 15px;
}

.business-line {
    border: 1px solid rgba(183, 183, 183, 0.6);
    margin: 41px 0 14px 0;
}

.add-block {
    padding: 75px 0 0 115px;
    width: 359px;
    height: 270px;
    background: #E2E2E2;
    border-radius: 22px 22px 0 0;
}

.add-ellipse {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #F5F5F5;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 50px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.add-ellipse:hover {
    background: #F7A099;
}

.add-ellipse:focus {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.ed-mark {
    position: absolute;
    top: 5%;
    left: 5%;
}

.del-mark {
    position: absolute;
    top: 5%;
    right: 5%;
}

.common-card {
    position: relative;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 7px 0;
    background-color: #0f0f0f;
}

.image {
    opacity: 0.5;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    color: white;
    font-size: 14px;
    padding: 16px 32px;
}

.description {
    opacity: 1;
    color: black;
    background: white;
    padding: 5px;
}

.no-item {
    font-size: 14px;
    line-height: 16px;
    color: #454545;
    padding-top: 10px;
}

/* desktop only parametrs */
@media (min-width: 576px) {
    .text {
        font-size: 16px;
    }

    .no-item {
        font-size: 16px;
    }

    .middle {
        opacity: 1;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
}