.business-header {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #454545;
    margin-bottom: 40px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-wrap:nth-child(n3) {
    margin-right: unset;
}

.main-block-wrap {
    position: relative;
    width: 360px;
    height: 390px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    margin: 0 30px 30px 0;
}

.main-block-wrap:nth-child(3n) {
    margin-right: unset;
}

.photo {
    width: 360px;
    height: 268px;
    border-radius: 22px 22px 0 0;
}

.photo-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 268px;
    border-radius: 22px 22px 0 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 50%);
}

.info-block-wrap {
    display: flex;
    margin-top: 18px;
    padding: 0 20px;
}

.info-block-wrap p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #747474;
}

.info-block-wrap p a{
    font-style: italic;
    font-size: 16px;
    line-height: 21px;
    color: #9b9b9b;
}


.title {
    position: absolute;
    bottom: 13px;
    left: 19px;
    flex-grow: 1;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    transition: color 0.3s;
    margin-right: 20px;
}

.title:hover {
    text-decoration: none;
    color: #FE8A80;
}

a.disabled {
    pointer-events: none; !important;
    cursor: default;
    color: #888;
}

.favorite {
    position: absolute;
    left: 19px;
    bottom: 9px;
}

.favorite-shop-type {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #747474;
}

.favorite-shop-type a, .favorite-shop-type a:active {
    text-decoration: none;
    color: #747474 !important;
}

.icon-ellipse {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 85px;
    right: 122px;
}

.business-line {
    border: 1px solid rgba(183, 183, 183, 0.6);
    margin: 41px 0 14px 0;
}